__pycache__/
*.pyc

lib

data/coqa/coqa-train-v1.0.json
data/coqa/coqa-dev-v1.0.json
data/coqa/coqa-train-v1.0-processed.json
data/coqa/coqa-dev-v1.0-processed.json

data/wordvecs/glove.*.zip
data/wordvecs/glove.*.txt
data/wordvecs/*.vec

data/quac/train.json
data/quac/val.json

*.out
